#app-navbar {
  border-width: 0 0 1px 0 !important;
  align-items: normal;
}

#app-navbar .sticky-top {
  top: 40px;
}

.nav {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #c4d1c5; /* Background color */
  color: #b1abab; /* Text color */
}

/* adding horizontal line below navbar using pseudo element property */
.nav::after {
  content: "";
  display: block;
  height: 1px; /* Height of the line */
  background-color: #161515; /* Color of the line */
}

#logo {
  padding-left: 5px;
}

#logo img {
  align-items: center;
  height: 25px;
  width: 25px;
  border: 1px solid rgb(60, 64, 70);
  border-radius: 50%;
}

.nav_item_list {
  display: flex;
  justify-content: space-between; /* or space-around or space-evenly */
  width: auto;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
}

.nav_item {
  margin-right: 10px;
  cursor: pointer;
  padding: 3px;
}

.active {
  background-color: rgb(204, 198, 198);
  padding: 3px;
  border-radius: 5px;
}

.nav_item:nth-child(1):hover {
  cursor: pointer;
  /* text-decoration: underline; */
  /* color: blue; */
}
.nav_item:nth-child(2):hover {
  cursor: pointer;
  /* text-decoration: underline; */
  /* color: blue; */
}
.nav_item:nth-child(3):hover {
  cursor: pointer;
  /* text-decoration: underline; */
  /* color: blue; */
}
.nav_item:nth-child(4):hover {
  cursor: pointer;
  /* text-decoration: underline; */
  /* color: blue; */
}
.nav_item:nth-child(5):hover {
  cursor: pointer;
  /* text-decoration: underline; */
  /* color: blue; */
}
