body {
  transition: opacity 100ms;
  opacity: 1;
  overflow: hidden;
}

html,
body,
aurelia-app-wrapper {
  margin: 0; /*remove any default margins set by Browser */
  padding: 0; /*remove any default paddings set by Browser*/
  /* display:flex and column, configures the body and its wrapper to use flexbox with a column layout. This helps to align child elements vertically. */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body fills the viewport height regardless of the content size */
}

@media screen and (min-device-width: 1025px) and (max-width: 1367px) {
  html,
  body,
  aurelia-app-wrapper {
    font-size: 16px;
  }
}

#app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000; /* Ensure the header stays above other content */
}

#app-main {
  position: absolute;
  top: 40px; /* Adjust as needed to avoid scrollbar being hidden behind the header */
  bottom: 20px; /* Adjust as needed to avoid scrollbar being hidden behind the footer */
  left: 0;
  right: 0;
  overflow-y: auto; /* Enable vertical scrollbar if content exceeds viewport height */
}

#app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000; /* Ensure the header stays above other content */
}
