#app_header {
  width: auto;
  border: 2px solid gray;
  padding: 5px;
}

#app_main {
  width: auto;
  border: 3px solid rgb(99, 123, 93);
}

#app_footer {
  width: auto;
  border: 2px solid rgb(111, 180, 223);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.main {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 5px;
  border: 2px solid green;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  width: auto;
}

#logo img {
  height: 30px;
  width: 30px;
  border: 2px solid lightblue;
  border-radius: 50%;
}

.nav_item_list {
  display: flex;
  justify-content: space-between; /* or space-around or space-evenly */
  width: auto;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
}

.nav_item {
  margin-right: 10px;
  cursor: pointer;
}

.active {
  background-color: rgb(204, 198, 198);
  padding: 1px;
  border-radius: 5px;
}

.nav_item:nth-child(1):hover {
  cursor: pointer;
  /* text-decoration: underline; */
  /* color: blue; */
}
.nav_item:nth-child(2):hover {
  cursor: pointer;
  /* text-decoration: underline; */
  /* color: blue; */
}
.nav_item:nth-child(3):hover {
  cursor: pointer;
  /* text-decoration: underline; */
  /* color: blue; */
}
.nav_item:nth-child(4):hover {
  cursor: pointer;
  /* text-decoration: underline; */
  /* color: blue; */
}
.nav_item:nth-child(5):hover {
  cursor: pointer;
  /* text-decoration: underline; */
  /* color: blue; */
}
